Personal Message Workflow.json
{
  "name": "Personal Message Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1232,
        -32
      ],
      "id": "a1418ca3-09db-4433-8038-414dc52f2c8f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SlLwSCv-ijWeYFuai6nlc-83lzYcunzJ5eefPcJ-WvE",
          "mode": "list",
          "cachedResultName": "Binox Leads Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SlLwSCv-ijWeYFuai6nlc-83lzYcunzJ5eefPcJ-WvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 700142481,
          "mode": "list",
          "cachedResultName": "leads-100",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SlLwSCv-ijWeYFuai6nlc-83lzYcunzJ5eefPcJ-WvE/edit#gid=700142481"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -992,
        -32
      ],
      "id": "acf61fd1-ee7a-44be-ba0a-a2431eb6052a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bBpwW5WKU1sDaQ2j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "You are Oscar Kwan, Head of Solutions of **Binox Limited** (oscar@binox.com.hk). Binox deploys enterprise AI workflows that pay for themselves in 90 days—saving clients $5M+ in costs and 3x'ing sales pipelines across logistics, retail, and manufacturing.\n\nAlways format your output exactly like this, no exceptions:\nSubject: <subject line>\n\n<email body>\n\n<closing regards and details>\n\n**Write a cold email following these strict rules:**\n\n1. **Tone**: Experienced professional, not desperate salesperson. Calm, confident, peer‑to‑peer. Make it a professional tone instead of a suck-up tone. Start with Hi or Hello.\n2. **No exclamation points ever, question marks are okay but keep it minimum.**\n3. **Write concise, direct cold emails that feel like the 3rd or 4th email someone has sent that day\n4. **First line**: Specific, recent insight about recipient's company/role (use provided context).\n5. **Structure**: \n   - Researched insight\n   - Binox solution + specific value (90-day ROI, cost savings)\n   - Final line: Concrete ask (15-min call, specific resource, single question)\n6. **Short, punchy sentences**. Assume mutual respect.\n\n**Binox context for personalization:**\nFounded 2025, Greater Bay Area focus, performance-led AI workflows.\n\nAngles defined:\n- cost_savings: Lead with 90-day ROI and $5M cost reduction stats\n- social_proof: Lead with a similar company success story\n- curiosity_hook: Open with a provocative question about their industry\n- case_study: Reference a specific logistics/retail/manufacturing win\n\nWrite from Oscar's perspective. No placeholders.",
              "role": "model"
            },
            {
              "content": "=Here is a lead's information:\nFirst Name: {{ $('Filter').item.json.first_name }}\nLast Name: {{ $('Filter').item.json.last_name }}\nCompany: {{ $('Filter').item.json.company }}\nWhat industry are they in: {{ $('Filter').item.json.industry }}\nWhat they currently do/notes: {{ $('Filter').item.json.notes }}\nAngle to use: {{ $json.angle }}\nReason: {{ $json.reason }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        320,
        112
      ],
      "id": "2bc9acdf-4785-42ba-b884-e922b993c0de",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "I2pwZMxJpr3EsJBu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a42597d0-0a98-4291-bba2-9615ebfc820f",
              "name": "message",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        112
      ],
      "id": "a25b830b-ea41-411e-9252-5d8705c15c8a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        -16
      ],
      "id": "cf3bc0a1-6440-4817-9fcf-f9d3be609dc8",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SlLwSCv-ijWeYFuai6nlc-83lzYcunzJ5eefPcJ-WvE",
          "mode": "list",
          "cachedResultName": "Binox Leads Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SlLwSCv-ijWeYFuai6nlc-83lzYcunzJ5eefPcJ-WvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 700142481,
          "mode": "list",
          "cachedResultName": "leads-100",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SlLwSCv-ijWeYFuai6nlc-83lzYcunzJ5eefPcJ-WvE/edit#gid=700142481"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "outreach": "={{ $json.message }}",
            "first_name": "={{ $json.first_name }}",
            "date_sent": "={{ $now.toISO() }}",
            "angle_used": "={{ $('Code in JavaScript').item.json.angle }}",
            "reply_received": "=false",
            "subject": "={{ $json.subject }}",
            "sent": "=True",
            "chat_history": "={{ $json.history }}"
          },
          "matchingColumns": [
            "first_name"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "outreach",
              "displayName": "outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_sent",
              "displayName": "date_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "angle_used",
              "displayName": "angle_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reply_received",
              "displayName": "reply_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reply_date",
              "displayName": "reply_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_up_angle",
              "displayName": "follow_up_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_up_outreach",
              "displayName": "follow_up_outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_up_date",
              "displayName": "follow_up_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_up_2_angle",
              "displayName": "follow_up_2_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_up_outreach_2",
              "displayName": "follow_up_outreach_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_up_2_date",
              "displayName": "follow_up_2_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chat_history",
              "displayName": "chat_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        -16
      ],
      "id": "d1ddc626-c1fb-4950-b894-3df3f9c6231c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bBpwW5WKU1sDaQ2j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a strategy agent. Given this lead's outreach history, decide the best angle.\n\nAvailable angles: cost_savings | social_proof | curiosity_hook | case_study\n\nRules:\n- If angle_used is empty → use cost_savings\n- If reply_received = false and angle_used = cost_savings → use social_proof\n- If reply_received = false and angle_used = social_proof → use curiosity_hook\n- Never reuse an angle that got no reply\n\nRespond in valid JSON only. No markdown, no code blocks, no explanation.\nExample output:\n{\"angle\": \"social_proof\", \"reason\": \"previous cost angle got no reply\"}\n",
              "role": "model"
            },
            {
              "content": "=Lead info:\n- Industry: {{ $json.industry }}\n- Role: {{ $json.role }}\n- Previous angle used: {{ $json.angle_used }}\n- Reply received: {{ $json.reply_received }}\n- Follow-up angle suggested: {{ $json.follow_up_angle }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -352,
        112
      ],
      "id": "0c475508-17b2-4833-9d7a-1616449de907",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "I2pwZMxJpr3EsJBu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4dc9e53-1e6f-4c20-a0fd-b1d7e4b055dc",
              "leftValue": "={{ $json.outreach }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "12177452-7cd4-41dc-8768-5347122a9a0e",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b654da51-bac0-4b00-9ae2-3ced8d7fcfac",
              "leftValue": "={{ $json.sent }}",
              "rightValue": "=FALSE",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -688,
        -32
      ],
      "id": "e4db0194-defc-4abe-8aff-795554eb4859",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.content.parts[0].text\nconst parsed = JSON.parse(raw);\nreturn { json: parsed };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        112
      ],
      "id": "d023f2d4-c8db-4633-97a9-b20a7eb82d73",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "oscar@binox.com.hk",
        "toEmail": "={{ $('Get row(s) in sheet').item.json.email }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.outreach }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1728,
        -16
      ],
      "id": "850203ec-7849-495b-9eea-6951c3e917e2",
      "name": "Send an Email",
      "webhookId": "930ec2f2-d9c8-4c8a-a177-89775c566723",
      "credentials": {
        "smtp": {
          "id": "iLgcq7HsxUrIKkHs",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const full = $input.item.json.message;\nconst lines = full.split('\\n');\nconst subjectLine = lines.find(l => l.toLowerCase().startsWith('subject:'));\nconst subject = subjectLine ? subjectLine.replace(/^subject:\\s*/i, '').trim() : 'Quick note';\nconst body = full.replace(subjectLine + '\\n', '').trim();\n\nreturn { json: { subject, message: body } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        112
      ],
      "id": "fb95770a-9d2b-4840-ac85-da04680e27ed",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const existing = $json.history ? JSON.parse($json.history) : [];\nexisting.push({\n  touch: 1,\n  angle: $json.angle,\n  subject: $json.subject,\n  sent_at: new Date().toISOString(),\n  replied: false\n});\nreturn { json: { ...($json), history: JSON.stringify(existing) } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        112
      ],
      "id": "199f51bf-95b9-46a2-8e5c-c70aee20cb82",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "00c95c01-29ae-4396-bf9b-b38128011274",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1589da9347a75def078efd279596d8a370ae556adc8d60ec3684369de84e3ba0"
  },
  "id": "y17DhXA8KCo18DLs",
  "tags": []
}